In [10]:
import requests
import json
from pprint import pprint
#from api_keys import weather_api_key
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Normals

In [20]:
#Coordinates for Chicago 0'Hare Airport
latitude = 41.9833
longitude = -87.9167
altitude = 204

#Using dateime to establish start and end dates
start = datetime(2022, 7, 1)
end = datetime(2022, 9, 30)

#Point function from meteostat
Chicago = Point(latitude, longitude, altitude)

#Pulls data from meteostat using daily function
temp_data = Daily(Chicago, start, end)
temp_data = temp_data.fetch()

In [12]:
def cel_to_far(temp_fahr):
    """Convert Celsius to Fahrenheit
    
    Return Celsius conversion of input"""
    temp_fahr = (temp_fahr *1.8) +32
    return temp_fahr

tavg_f = cel_to_far(temp_data['tavg'])

def  km_to_miles(wspd_miles):
    
    wspd_miles = (wspd_miles * 0.621371)
    return wspd_miles

wspd_miles = km_to_miles(temp_data['wspd'])


#pd.DataFrame(wspd_miles)
pd.DataFrame(tavg_f)
#pd.DataFrame(temp_data)

             tavg
time
2022-07-01  78.44
2022-07-02  74.66
2022-07-03  78.62
2022-07-04  78.08
2022-07-05  81.32
...           ...
2022-09-26  56.66
2022-09-27  53.24
2022-09-28  52.16
2022-09-29  52.70
2022-09-30  55.76

[92 rows x 1 columns]

In [18]:
temp_data = temp_data.merge(tavg_f,on='time').merge(wspd_miles,on='time')
temp_data = temp_data.rename(columns={'tavg_x': 'tavg_cel', 'wspd_x': 'wspd_km','tavg_y': 'tvag_farh', 'wspd_y': 'wspd_miles'})
temp_data = temp_data.reset_index()
temp_data = temp_data.round(decimals = 2)

In [19]:
temp_data.to_csv('meteostat_data.csv', index=True)