In [12]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd
import string
from pprint import pprint

In [13]:
browser = Browser('chrome')

url = 'https://www.tripadvisor.com/HotelsNear-g35805-qORD-Chicago_Illinois.html'

browser.visit(url)

html = browser.html

# Create a BeautifulSoup object from the scraped HTML
soup = BeautifulSoup(html, 'html.parser')

In [34]:
# Find and extract data elements.
hotels = []
for name in soup.findAll('div',{'class':'listing_title'}):
    hotels.append(name.text.strip())
ratings = []
for rating in soup.findAll('a',{'class':'ui_bubble_rating'}):
    ratings.append(rating['alt'])
reviews = []
for review in soup.findAll('a',{'class':'review_count'}):
    reviews.append(review.text.strip())
prices = []
for p in soup.findAll('div',{'class':'price-wrap'}):
    prices.append(p.text.replace('$','').strip())

hotels_clean = []
[hotels_clean.append(x) for x in hotels if x not in hotels_clean]

hotels_clean

keyword = 'Sponsored'
for i in hotels_clean[:]:
    if i.find(keyword) != -1:
        hotels_clean.remove(i)

len(hotels_clean)

30

In [35]:
# Create the dictionary.
dict = {'Ratings':ratings,'Number of Reviews':reviews}

# Create the dataframe.
chicago = pd.DataFrame.from_dict(dict)
chicago.head(30)

             Ratings Number of Reviews
0   4.5 of 5 bubbles     3,224 reviews
1     4 of 5 bubbles     1,169 reviews
2   4.5 of 5 bubbles       427 reviews
3   4.5 of 5 bubbles       355 reviews
4     4 of 5 bubbles     1,062 reviews
5     4 of 5 bubbles     1,829 reviews
6   3.5 of 5 bubbles     4,521 reviews
7     4 of 5 bubbles     1,117 reviews
8   4.5 of 5 bubbles     2,548 reviews
9     4 of 5 bubbles     1,549 reviews
10    4 of 5 bubbles       592 reviews
11  4.5 of 5 bubbles     3,224 reviews
12    4 of 5 bubbles     1,464 reviews
13  4.5 of 5 bubbles     1,391 reviews
14  3.5 of 5 bubbles       703 reviews
15    4 of 5 bubbles       446 reviews
16    4 of 5 bubbles       424 reviews
17    4 of 5 bubbles        26 reviews
18  4.5 of 5 bubbles       941 reviews
19    4 of 5 bubbles       406 reviews
20    3 of 5 bubbles     1,019 reviews
21  3.5 of 5 bubbles     1,096 reviews
22    4 of 5 bubbles     5,131 reviews
23    4 of 5 bubbles         3 reviews
24  3.5 of 5 bubbles       495 reviews
25    3 of 5 bubbles       122 reviews
26  3.5 of 5 bubbles        17 reviews
27    3 of 5 bubbles       155 reviews
28  3.5 of 5 bubbles        41 reviews
29    3 of 5 bubbles       145 reviews

In [ ]:
browser.quit()